--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.17.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.2.2
tensorflow==2.16.1
openai==1.25.1
pymysql==1.1.0
psycopg2-binary==2.9.9
flask==3.0.3
google-ai-generativelanguage==0.6.2
keras==3.1.1
pyspark==3.5.1
bs4==0.0.2
jupyterlab==4.1.8
spylon-kernel==0.1.5
pandas==2.2.2
boto3==1.34.99
langchain==0.2.1
langchain-chroma==0.1.1
langchain-community==0.2.1
langchain-core==0.2.0
langchain-experimental==0.0.59
langchain-google-genai==0.1.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.0
langchainhub==0.1.17
